<div class='edit-contents'>
  <div class='label'>
    <%= f.label :title,  "タイトル" %>
  </div>
  <div class='form-content'>
    <%= f.text_area :title, size: "80x1.5", class: 'title-area' %>
  </div>
  <div class='label'>
    <%= f.label :text,  "テキスト" %>
  </div>
  <div class='form-content'>
    <%= f.text_area :text, size: "80x15", class: 'text-area' %>
  </div>
  <div class='label'>
    <%= f.label :name, "タグ" %>
  </div>
  <div class='form-content'>
    <%= f.text_field :name, size: "81", class: 'tag-area' %>
  </div>
  <div class='tag-comment'>
    <%= "※タグを複数入力する場合は' , 'で区切って下さい。" %>
  </div>
  <div class='label'>
    <%= f.label :status, "公開/非公開" %>
  </div>
  <div class='form-content'>
    <%= f.select :status, Note.statuses.keys.map {|k| [k, k]}, {}, class: 'status-select' %>
  </div>
  <div class='form-content-btn'>
    <%= f.submit "Send", class: 'send-btn' %>
  </div>
</div>