<div class='contents-wrapper' >
  <% @search_notes.each do |note|%>
    <% if note.公開する? %>
      <div class="publish-content">
        <div class="content-title">
          <%if user_signed_in? %>
            <% if note.user_id == current_user.id %>
              <%= link_to note.title, edit_note_path(note.id) %>
            <% else %>
              <%= link_to note.title, note_path(note.id) %>
            <% end %>
          <% else %>
              <%= link_to note.title, note_path(note.id) %>
          <% end %>
        </div>
        <div class="content-tags">
          <% note.tags.each do |tag| %>
            <div class="content-tag">
              <%= "# #{tag.name}" %>
            </div>
          <% end %>
        </div>
        <div class='content-text'>
          <%= safe_join(note.text.split("\n"),tag(:br)) %>
        </div>
        <%if user_signed_in? %>
          <% if note.user_id == current_user.id %>
            <div class='content-current-user'>
              <%= "by #{note.user.nickname} " %>
            </div>
          <% else %>
            <div class='content-user'>
              <%= "by #{note.user.nickname} " %>
            </div>
          <% end %>
        <% else %>
          <div class='content-user'>
            <%= "by #{note.user.nickname} " %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>