<div class="wrapper">
  <div class="side_bar">
    <div class="side-bar-header edit">
      <div class="note-link">
        <%= link_to "ノートを作成する", new_note_path %>
      </div>
      <div class="note-link">
        <%= link_to '削除', "/notes/#{@note.id}", method: :delete %>
      </div>
    </div>
    <%= render "side_bar" %>
  </div>
  <div class="main">
    <%= form_with model: @note_tag, url: "/notes/#{@note.id}", method: :put, class:'form-wrap', local: true do |f| %>
      <%= render "main", f:f %>
    <% end %>
  </div>
</div>



