<%= form_with model: @note, url: "/notes", class:'form-wrap', local: true do |f| %>
  <div>
    <div>
      <%= f.label :title,  "タイトル" %>
      <%= f.text_area :title %>
    </div>
    <div>
      <%= f.label :text,  "テキスト" %>
      <%= f.text_area :text %>
    </div>
    <div>
      <%= f.label :name, "タグ" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :status, "公開/非公開" %>
      <%= f.select :status, Note.statuses.keys.map {|k| [k, k]}, {} %>
    </div>
  </div>
  <div>
    <%= f.submit "Send" %>
  </div>
<% end %>