<div class="wrapper">
  <div class="side_bar">
    <div class="side-bar-header only-create">
      <div class="note-link">
        <%= link_to "ノートを作成する", new_note_path %>
      </div>
    </div>
    <%= render "side_bar" %>
  </div>
  <div class="main">
    <%= render "search_user_form"%>
    <div class="keyword">
      <% unless @keyword == "" %>
        <%= "「#{@keyword}」を含むテキストの検索結果"%>
      <% else %>
        <%= "全てのテキストの検索結果"%>
      <% end %>
      <%= link_to "前の画面に戻る", :back %>
    </div>
    <%= render "search_user_result" %>
  </div>
</div>