<div>
  <%= link_to '戻る', user_path(@note.user_id), method: :get %>
</div>
<div>
  <%= link_to '編集', edit_note_path(@note.id) %>
</div>
<div>
  <%= link_to '削除', "/notes/#{@note.id}", method: :delete %>
</div>
<%@note.tags.each do |tag| %>
  #<%=tag.name%>
<%end%>
<div>
  <%= @note.title %>
</div>
<div>
  <%= @note.text %>
</div>
<div>
  <%= @note.status %>
</div>