<div class="wrapper">
  <div class="side_bar">
    <div class="side-bar-header only-create">
      <div class="note-link">
        <%= link_to "戻る", :back %>
      </div>
    </div>
    <div class="notes">
      <% @notes.each do |note|%>
        <% if note.公開する? %>
          <div class="note">
            <div class="note-name">
              <p class="name-title">
                タイトル:
              </p>
              <%if user_signed_in? %>
                <% if note.user_id == current_user.id %>
                  <%= link_to note.title, edit_note_path(note.id) %>
                <% else %>
                  <%= link_to note.title, note_path(note.id) %>
                <% end %>
              <% else %>
                <%= link_to note.title, note_path(note.id) %>
              <% end %>
            </div>
            <% note.tags.each do |tag| %>
              <div class="tag-name">
                <%= "# #{tag.name}" %>
              </div>
            <% end %>
            <%if user_signed_in? %>
              <% if note.user_id == current_user.id %>
                <div class='content-current-user'>
                  <%= "by #{note.user.nickname} " %>
                </div>
              <% else %>
                <div class='content-user'>
                  <%= "by #{note.user.nickname} " %>
                </div>
              <% end %>
            <% else %>
              <div class='content-user'>
                <%= "by #{note.user.nickname} " %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-wrapper">
    <div class="show-contents">
      <div class='show-title'>
        <%= @note.title %>
      </div>
      <div class='show-tags'>
        <%@note.tags.each do |tag| %>
          <div class='show-tag'>
            <%= "##{tag.name}　" %>
          </div>
        <%end%>
      </div>
      <div class='show-text'>
        <%= @note.text %>
      </div>
      <div class='show-user' >
        <%= "by #{@note.user.nickname}" %>
      </div>
    </div>
  </div>
</div>
