<br>
<% if @note.user_id == current_user.id %>
<div>
  <%= link_to 'マイページ', user_path(@note.user_id), method: :get %>
</div>
<div>
  <%= link_to '編集', edit_note_path(@note.id) %>
</div>
<div>
  <%= link_to '削除', "/notes/#{@note.id}", method: :delete %>
</div>
<br>
<% end %>
<%@note.tags.each do |tag| %>
  #<%=tag.name%>
<%end%>
<br>
<div>
  <%= @note.title %>
</div>
<br>
<div>
  <%= @note.text %>
</div>
<br>
<div>
  <%= @note.status %>
</div>