<div class="wrapper">
  <div class="side_bar">
    <div class="side-bar-header only-create">
      <div class="note-link">
        <%= link_to "ノートを作成する", new_note_path %>
      </div>
    </div>
    <%= render "notes/side_bar" %>
  </div>
  <div class="main">
    <%= form_with(url: search_title_user_notes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タイトルを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= form_with(url: search_text_user_notes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "テキストを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= form_with(url: search_tag_user_notes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
</div>