<%= form_with(url: search_title_notes_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトルを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_text_notes_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "テキストを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_tags_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タグを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
<div class="notes">
  <% @tags.each do |tag|%>
    <div class="">
      <%= link_to tag.name, tag_path(tag.id) %>
    </div>
  <% end %>
</div>