<%= form_with(url: search_title_notes_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトルを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_text_notes_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "テキストを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_tags_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タグを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <%= link_to "Back", :back %>
<div class="notes">
  
    <div class="tag-name">
      <%= "# #{@tag.name}" %>
    </div>
    <div class="note">
      <% @tag.notes.each do |note|%>
        <% if note.公開する? %>
          <div class="note-name">
            <p class="name-title">Title:</p>
            <%= link_to note.title, note_path(note.id) %>
          </div>
          <div class="note-name">
            <%= note.text %>
          </div>
          <div class='note-user' >
            <%= "by #{note.user.nickname}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  
</div>