<div class="form-wrapper">
  <div class="forms">
    <div class="form-title">
      ログインしましょう
    </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='error-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="field">
        <div class='label-wrap'>
          <%= f.label :email, class: 'label' %><br />
        </div>
        <div class='form'>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-area email'  %>
        </div>
      </div>
      <div class="field">
        <div class='label-wrap'>
          <%= f.label :password, class: 'label' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>
        <div class='form'>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-area password'  %>
        </div>
      </div>
      <div class="btn-content">
        <div class="form-btn">
          <%= f.submit "Log in", class: 'send-btn'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>