<!DOCTYPE html>
<html>
  <head>
    <title>Hash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrap">
        <div class='header-left'>
          <%= link_to "HASH", root_path, class: "top-link" %>
        </div>
        <div class='header-middle'>
          <div class='header-middle-top'>
            <%= link_to 'To Published Notes', publish_notes_path, class: "publish-link" %>
          </div>
          <div class='header-middle-bottom'>
            <P class='publish-comment'>公開されたノートへ</p>
          </div>
        </div>
        <div class="background-white" id="lists">
          <div class="list-btn">
          <% if user_signed_in? %>
            リスト
          <% else %>
            新規登録はこちら
          <% end %>
          </div>
        </div>
      </div>
      <ul class='header-right hidden' id="pull-down">
        <% if user_signed_in? %>
          <li class='header-right-content'>
            <%= link_to "#{current_user.nickname}のページ", user_path(current_user.id), class: "user-nickname" %>
          </li>
          <li class='header-right-content'>
            <%= link_to 'ユーザー情報編集', "/users/#{current_user.id}/edit", class: "user-edit" %>
          </li>
          <li class='header-right-content'>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
          </li>
        <% else%>
          <li class='header-right-content'>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          </li>
          <li class='header-right-content'>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          </li>
        <% end %> 
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
